<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1519,35}</string>
                <key>spriteSourceSize</key>
                <string>{1519,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{1519,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>catus.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,80}</string>
                <key>spriteSourceSize</key>
                <string>{37,80}</string>
                <key>textureRect</key>
                <string>{{1519,0},{37,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinasour_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{1556,0},{65,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosoour1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{57,70}</string>
                <key>textureRect</key>
                <string>{{1621,0},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosour2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,74}</string>
                <key>spriteSourceSize</key>
                <string>{77,74}</string>
                <key>textureRect</key>
                <string>{{1678,0},{77,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosour3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,73}</string>
                <key>textureRect</key>
                <string>{{1755,0},{75,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinosour_jump.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1830,0},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dinsour4.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{73,66}</string>
                <key>textureRect</key>
                <string>{{1887,0},{73,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinosour.png</string>
            <key>size</key>
            <string>{1960,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:481b7543d6ccefb0f1becba2b6e248c8:5f0ea4f0acb2f038d1a0082489e84310:466cc7c2ae57697ee7f5cc565375b964$</string>
            <key>textureFileName</key>
            <string>dinosour.png</string>
        </dict>
    </dict>
</plist>
